/* General styles */

body {
	font-family: 'Roboto', 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #ECEFF1;
}

.container {
	padding: 0.9em 1em;
}
.container.narrow {
	padding: 0 0.5em;
}

paper-menu a > *,
paper-menu paper-item > *,
paper-menu paper-icon-item > * {
	pointer-events: none;
}

/**
 * Wordpress customization
 */


/* If WP-Adminbar is visible */
body.admin-bar #wrapper {
	top: 32px;
}

body.admin-bar .post-edit-link {
	color: #FFF !important;
	font-weight: normal !important;
	text-decoration: none !important;
}
body.admin-bar .post-edit-link::before {
	content: '\270E';
	display: inline-block;
	margin-right: 5px;
}