/* General styles */

body {
    font-family: 'Roboto', 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
	background: #FAFAFA;
}

.container {
	padding: 0.9em 1em;
}
.container.narrow {
	padding: 0 0.5em;
}